*{
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-weight: bolder;
  box-sizing: border-box;
}

body{
  background: #78C0A8;

}

.app{
  background: #FCEBB6;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}

.app h1{
  font-size: 30px;
  color: #5E412F;
  font-weight: bolder;
  border-bottom: 3px solid #5E412F;
  padding-bottom: 20px;
}

.quiz{
  padding: 20px 0;
}

.quiz h2{
  font-size: 20px;
  color: #5E412F;
  font-weight: bolder;
}

.btn{
  background: #F07818;
  color: #FCEBB6;
  font-weight: bolder;
  width: 100%;
  border: 3px solid #5E412F;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]){
  background: #5E412F;
  color: #FCEBB6;
}
.btn:disabled{
  cursor:no-drop;
}

#next-btn {
  background: #78C0A8;
  color: #FCEBB6;
  font-weight: bolder;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct{
  background: #A1C484;
}

.incorrect{
  background: #D33B52;
}
