*{
  font-family: 'Helvetica';
  font-weight: bolder;
}

body{
  background: #78C0A8;
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 30px;
	width: 70vw;
	height: 10vh;
	background-color:#FCEBB6;
	font-size: x-large;
	text-align: center;
  border-radius: 10px;

}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;

}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 17px;
	padding: 30px;
	width: 80vw;
	height: 10vh;
	background-color:#F69F83;
  border-radius: 10px;
}

.option{
	padding: 8px;
	width: 13vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	border-radius: 10px;
  border-width: medium;
  border-color: #5E412F;
  align-items: center;
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 8vh;
	margin: 10px;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	background-color:#c7dddf;
  border-radius: 10px;
}

.evaluate,.next{
	width:20vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
  border-radius: 10px;
  border-width: medium;
}
.evaluate{

	background-color: #50DBB4;
}
.next{
	color: white;
	background-color: #BF3325;
}
