@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
  color: #FFFFFF;
  text-decoration: none;
  list-style: none;
  justify-content: center;
  text-align: center;
  background-color: #000000;
}

html, body {
  background-color: #000000;
}

.navbar {
  color: #FFFFFF;
  background-color: #000000;
}

.navbar-brand {
  font-family: "Humane";
  font-weight: 600;
  font-size: 40px;
  color: #C8A2C8;
  margin-left: 30px;
}

span{
   color: #8DAB7F;
   font-family: "Humane";
}

/*Index*/

.content {
  margin: 0px;
  padding: 190px;
  max-width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  background: transparent;
}

.content h1{
  font-size: 160px;
  color: #FFFFFF;
  font-weight: 600;
  background: transparent;
  max-width: 100%;
  display: flex;
}

.content p{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 300;
  background: transparent;
  padding: 0;
  margin: auto;
  display: flex;
}

.content a{
  text-decoration: none;
  display: inline-block;
  position: static;
  color: #FFFFFF;
  font-size: 24px;
  background-color: #8DAB7F;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  transition: transform 0.5s;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content a:hover {
  background: transparent;
  border: 1px solid white;
  transform: translateY(-10px);
}

.container-fluid {
  padding: 0;
}

.background-image {
  width: 100%;
  background-image: url(img/homebg.jpg);
  margin: 0;
  max-height: 120vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.background-image1 {
  width: 100%;
  background-image: url(img/homebg.jpg);
  margin: 0;
  height: 250vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.title {
  margin: 0px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 80px;
  text-align: center;
  position: static;
  background: transparent;
}

.title h1{
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 600;
  background: transparent;
}

.cardrow {
  background: transparent;
}

.cardrow a{
  align-items: center;
  background: transparent;
}

.card {
  width: 250px;
  height: 300px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 30px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s;
  object-fit: cover;
  justify-content: center;
  text-align: center;
}

.card h5{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 600;
  text-shadow: 0 0 5px #8DAB7F;
  margin-top: 25px;
  background: transparent;
}

.card p{
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  text-shadow: 0 0 20px #C8A2C8;
  background: transparent;
}

.card1 {
  background-image: url(img/card1.0.jpg);
  background-color: #000000;
  padding-top: 80px;
  display: inline-block;

}

.card2 {
  background-image: url(img/card2.0.jpg);
  background-color: #000000;
  padding-top: 80px;
  display: inline-block;
}

.card3 {
  background-image: url(img/card3.0.jpg);
  background-color: #000000;
  padding-top: 80px;
  display: inline-block;
}

.card4 {
  background-color: #000000;
  padding-top: 100px;
}

.card:hover {
  transform: translateY(-10px);
}

.introduction {
  margin: 0px;
  margin-left: 100px;
  margin-right: 100px;
  padding: 80px;
  text-align: center;
  position: static;
}

.introduction h1{
  font-size: 30px;
  color: #FFFFFF;
  font-weight: 600;
  text-shadow: 0 0 5px #8DAB7F;
}

.introduction h2{
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 500;
  padding-top: 60px;
}

.introduction p{
  font-size: 15px;
  color: #FFFFFF;
  font-weight: 300;
  padding-top: 10px;
}

.container-fluid1 {
  height: 10vh;
}

.aboutme {
  padding: 200px;
  text-align: center;
}

.aboutme h1 {
  text-shadow: 0 0 5px #8DAB7F;
  font-size: 100px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.aboutme p {
  font-size: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.row {
  margin: 40px;
}

.image-fluid {
  max-width: 100%;
  height: auto;
}

.col-6 h2{
  font-size: 35px;
  display: flex;
}

.col-6 p{
  font-size: 15px;
  display: flex;
}

.col-12 {
  margin-top: 40px;
}

.col-12 h6 {
  height: 10vh;
}

@media screen and (max-width: 600px)
{
  .content h1{
    font-size:70px;
  }

  .content p{
    font-size: 15px;
  }

  .aboutme h1 {
    font-size: 50px;
  }

  .aboutme p {
    font-size: 15px;
  }

  .col-6 h2{
    font-size: 20px;
  }

  .col-6 p{
    font-size: 10px;

  }
}
